body{
    top: 0;
    margin-left: 5%;
    box-sizing: border-box;
    alignment: center;
    font-family: sans-serif;
    /*background: linear-gradient(45deg,#415ba5, #41c895 #f37646, #f3e946);*/
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-right: 60px;
    padding-left: 55px;
    box-shadow: 5px 5px 5px white;
}

.PhotoUser-ShoppingCar{
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 5px;

}

#search {
  width: 50%;
  height: auto;
}
.input-control {
  display: flex;
  text-align: center;
  background-color: #f1efe2;
  border: solid 2px blue;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  margin-top: 9px;
}

.input-control input {
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  color: #000;
  background-color: #f1efe2;
  margin-left: 20px;
}

.input-control img {
  position: relative;
  right: 8px;
  top: 0px;
  width: 80px;
  left: 0px;
}

#img-profile {
    width: 68px;
  height: 58px;
  border-radius: 50% !important;
}

.PhotoUser-ShoppingCar img{
    width: 68px;
  height: 58px;
}

hr{
    color: blue;
    border: 2px solid blue;
}

.accueil-page{
    margin-top: 110px;
    padding-bottom: 5%;
}
.title{
    font-size: 40px;
    margin-block: 20px;
}

.images-list{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  background-color: white;
    justify-content: space-between;
    justify-items: normal;
}
.image-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-bottom: 5%;
    width: 280px;
}
.filtre-restaurant{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    font-family: bold;
    text-transform : uppercase;
    font-weight: bold;
    font-size: 20px;
}
select{
    margin-left: 10px;
    width: auto;
    height: 35px;
    border: 2px solid blue;
}

button{
    background-color: blue;
    color: #f1efe2;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.image__body, .magasiner{
    margin-left: 10px;
}

.image-card img{
    width: 100%;
    height: 200px;
}

@media (max-width: 688px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #input-control {
        margin-top: 20px;
        width: 100%;
        order: 1;
    }
}

@media (max-width: 1002px) {
    .header {
        flex-wrap: wrap;
        margin-left: -50px;
        justify-content: space-between;
        align-content: space-around;
    }
    .input-control {
        margin-top: 50px;
        width: 80%;
        order: 1;
        margin-left: 80px;
    }
    PhotoUser-ShoppingCar{
        position: relative;
        left: 0;
    }
}